# u309m_supply_arm ignore
/settings
/TermIO.log
/*.ewt

# irs global ignore
*.*~
*.SchDocPreview
*.bak
*.csv
*.dcu
*.dep
*.il?
*.map
*.obj
*.pbd
*.pbi
*.pch
*.r90
*.s90
*.tds
*.tmp
*.~*
irsconfig.h
irsconfig.h
lsprst7.*
sysprs7.*
tmpprst.*
~$*.*
~W*.tmp
